body{
  font-family: Segoe WP;
  font-size: 12px;

  color: #000;
  background-color: #fff;;
}

/*preloader*/
.preloader{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #fff;
}

.preloader-row{
  position: relative;
  top: 50%;
  left: 50%;

  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;

  animation: preloader-rotate 2s infinite linear;
  text-align: center;
}

.preloader-item{
  position: absolute;
  top: 0;

  display: inline-block;

  width: 35px;
  height: 35px;

  animation: preloader-bounce 2s infinite ease-in-out;

  border-radius: 100%;
  background-color: #000;
}

.preloader-item:last-child{
  top: auto;
  bottom: 0;

  animation-delay: -1s;
}

@keyframes preloader-rotate{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce{
  0%,
  100%{
    transform: scale(0);
  }

  50%{
    transform: scale(1);
  }
}

.loaded_hiding .preloader{
  transition: .3s opacity;

  opacity: 0;
}

.loaded .preloader{
  display: none;
}

/*---------------------
--header-conteiner
---------------------*/
header{
  position: relative;

  color: #7d7d7d;
  background: linear-gradient(to top, #ebebeb, #fff);
}

.top-menu-conteiner{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #424242;
}

.top-menu{
  display: flex;
}

.link-block{
  margin-left: auto;
}

.link-block a{
  color: #fff;
}

.link-block a:not(:last-child){
  margin-right: 25px;
}

.header-conteiner{
  display: flex;

  padding: 20px 0;

  justify-content: space-between;
  align-items: center;
}

.search-block{
  position: relative;

  width: 460px;
  height: 40px;
  padding: 4px 120px 4px 5px;

  border-radius: 2px;
  background-color: #79b260;
}

.search{
  width: 100%;
  height: 100%;
  padding: 4px;

  font-size: 16px;

  color: #000;
  border: none;
  background-color: #fff;
}

.search-submit{
  position: absolute;
  top: 2px;
  right: 10px;

  font-size: 23px;

  cursor: pointer;

  color: #fff;
}

.cart-block{
  display: flex;

  color: #6d6d6d;

  align-items: center;
}

.your-cart-block{
  position: relative;

  padding-right: 10px;

  border-right: 1px solid #c6c6c6;
}

.your-cart{
  display: flex;

  font-size: 23px;

  align-items: center;
}

.your-cart span{
  margin-left: 3px;
}

.icon-cart{
  margin-top: 5px;
}

.your-cart .small-text{
  font-size: 13px;
}

.description-to-cart{
  display: flex;

  align-items: center;
}

.description-to-cart .price{
  font-size: 27px;
  font-weight: bold;
}

.price::before{
  content: '$';
}

.checkout-button{
  margin-left: 12px;
  padding: 3px 12px 3px 7px;

  font-size: 15px;

  color: #fff;
  border: 1px solid #232323;
  border-radius: 3px;
  background: linear-gradient(to top, #242424, #424242);
}

.checkout-button:active{
  background: #000;
}

.wish-list{
  display: flex;
  flex-direction: column;

  padding-right: 10px;
  padding-left: 20px;

  align-items: center;
}

.wish-list .star{
  display: flex;

  width: 25px;
  height: 25px;

  font-size: 13px;

  color: #fff;
  border-radius: 50%;
  background-color: #424242;

  align-items: center;
  justify-content: center;
}

.wish-list .title{
  position: relative;

  font-size: 21px;
}

.wish-list .number{
  position: absolute;
  top: -5px;
  right: -10px;

  display: flex;

  width: 25px;
  height: 15px;
  padding-bottom: 2px;

  font-size: 13px;

  color: #fff;
  border-radius: 6px;
  background-color: #79b260;

  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px){
  .header-conteiner{
    flex-wrap: wrap;
  }
  .search-block{
    width: 100%;
    order: 3;
    margin-top: 20px;
  }
}

@media (max-width: 500px){
  .search-block{
    padding: 4px 50px 4px 5px;
  }
  .search-submit span{
    display: none;
  }
  .logo{
    width: 75px;
  }
  .your-cart{
    font-size: 18px;
  }
  .description-to-cart .price{
    font-size: 20px;
    font-weight: bold;
  }
  .wish-list{
    padding-right: 5px;
    padding-left: 10px;
  }
  .wish-list .star{
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .wish-list .title{
    font-size: 18px;
  }
}

/*---------------------
--nav-conteiner
---------------------*/
nav{
  width: 100%;
  height: 40px;

  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.nav-conteiner{
  display: flex;

  height: 100%;
}

.nav-item{
  height: 100%;

  font-family: Segoe UI Symbol;
  font-size: 19px;

  flex: 1;
}

.nav-item a{
  display: flex;

  width: 100%;
  height: 100%;

  transition-duration: .2s;

  color: #5b5b5b;

  align-items: center;
  justify-content: center;
}

.nav-item a:hover{
  color: #fff;
  background: linear-gradient(to top, #79b260, #92d774);
}

.nav-item.active a{
  color: #fff;
  background: linear-gradient(to top, #79b260, #92d774);
}

@media (max-width: 900px){
	nav{
		height: 80px;
	}
	.nav-conteiner{
		flex-wrap: wrap;
		justify-content: center;
	}
	.nav-item{
		width: 20%;
		flex: none;
		height: 50%;
	}
}

@media (max-width: 500px){
  nav{
    height: 120px;
  }
  .nav-conteiner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-item{
    width: 30%;
    height: 33%;
  }
}

/*---------------------
--footer
---------------------*/
footer{
  width: 100%;

  color: #ddd;
  background-color: #413f3e;
}

.more{
  display: flex;

  padding: 20px 0 30px;
}

.more a{
  color: #ddd;
}

.more-categories{
  width: 25%;
  padding: 0 20px;

  font-weight: lighter;
  line-height: 1.7;
}

.more-categories .title{
  margin-bottom: 15px;

  font-size: 18px;
}

.more-categories-list li::after{
  display: block;

  width: 100%;
  margin-top: 2px;

  content: '';

  border-bottom: 1px solid #505252;
}

.payment-block{
  display: flex;
  flex-direction: column;

  padding: 30px 0 15px;

  border-bottom: 1px solid #545454;
  background-color: #363636;

  align-items: center;
}

.payment-block .title{
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: lighter;
}

.card{
  display: flex;
}

.other-block{
  padding: 15px 0 20px;

  font-size: 15px;

  background-color: #363636;

  text-align: center;
}

@media (max-width: 800px){
  .more{
    flex-wrap: wrap;
  }
  .more-categories{
    width: 50%;
    margin-bottom: 15px;
  }
  .more-categories .title{
    font-size: 15px;
  }
  .payment-block .title{
    font-size: 16px;
  }
}

@media (max-width: 400px){
  .more{
    display: none;
  }
  .payment-block .title{
    font-size: 12px;
  }
}

/* Conteiner */
.conteiner{
  width: 95%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/*font*/
@font-face{
  font-family: 'Segoe WP';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/SegoeWP.ttf') format('truetype');
}

@font-face{
  font-family: 'Segoe WP N';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/SegoeWPN.ttf') format('truetype');
}

@font-face{
  font-family: 'Segoe UI Symbol';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/SegUISymbol.ttf') format('truetype');
}

@font-face{
  font-family: 'Helvetica LT Std';
  font-weight: lighter;
  font-style: normal;

  src: url('../fonts/HelveticaLTStd-Light.ttf') format('truetype');
}
